<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Médica</title>
    <link rel="stylesheet" href="static/styles.css">
    <script>
        async function sendText() {
            const inputText = document.getElementById("inputText").value;
            const responseArea = document.getElementById("responseArea");
    
            if (!inputText) return;
    
            try {
                const response = await fetch("/predict", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ text: inputText })
                });
    
                const data = await response.json();
    
                if (response.ok) {
                    responseArea.innerHTML += `<div class="message doctor"><strong>Doctor:</strong> ${inputText}</div>`;
                    responseArea.innerHTML += `<div class="message patient"><strong>Paciente:</strong> ${data.respuesta} (${data.intencion})</div>`;
    
                    document.getElementById("inputText").value = "";
                    responseArea.scrollTop = responseArea.scrollHeight;
    
                    if (data.intencion === "diagnostico") {
                        document.getElementById("sendButton").disabled = true;
                        document.getElementById("inputText").disabled = true;

                        if (data.end) {
                            alert("Diagnóstico correcto: consulta finalizada.");
                            responseArea.innerHTML += `<div class="message patient"><strong>Paciente:</strong> Bien hecho, acertaste</div>`;
                        } else {
                            alert("Diagnóstico incorrecto: consulta finalizada.");
                            responseArea.innerHTML += `<div class="message patient"><strong>Paciente:</strong> La respuesta correcta era  ${data.respuesta_correcta}</div>`;
                        }
                        return;
                    }
                    
                } else {
                    alert("Error del servidor: " + (data.error || "Desconocido"));
                }
            } catch (error) {
                alert("Error de conexión: " + error.message);
            }
        }
    </script>
</head>
<body>
    <div class="chat-container">
        <h1>Interacción de Consulta Médica</h1>
        <div id="responseArea">
            <div class="message patient"><strong>Paciente:</strong> Buenos días, doctor.</div>
        </div>
        <div class="input-container">
            <input type="text" id="inputText" placeholder="Escriba su pregunta aquí">
            <button id="sendButton" onclick="sendText()">Enviar</button>
        </div>
    </div>
</body>
</html>
